!!!
%html
  %head
    %title Admin-Karate
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .adminMainContainer
      = render 'shared/admin/header'
      .adminContainer
        = render 'shared/admin/sidebar'
