%h4 Announcements Index
%h5= link_to "New Announcement", new_admin_announcement_path
%table
  %tr
    %th Title
    %th Status
    %th Action
  - @announcements.each do |announcement|
    %tr
      %td= link_to announcement.title, [:admin, announcement]
      %td= checking(announcement)
      %td
        = link_to "Hide", '#'
        = link_to "Publish", '#'
